<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,96}</string>
                <key>spriteSourceSize</key>
                <string>{578,96}</string>
                <key>textureRect</key>
                <string>{{2165,1083},{578,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clef_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,192}</string>
                <key>spriteSourceSize</key>
                <string>{74,192}</string>
                <key>textureRect</key>
                <string>{{2165,1663},{74,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,84}</string>
                <key>spriteSourceSize</key>
                <string>{578,84}</string>
                <key>textureRect</key>
                <string>{{1,1945},{578,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,241}</string>
                <key>spriteSourceSize</key>
                <string>{1080,241}</string>
                <key>textureRect</key>
                <string>{{2165,1},{1080,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>note_sharp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{21,50}</string>
                <key>textureRect</key>
                <string>{{2263,1125},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>note_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,64}</string>
                <key>spriteSourceSize</key>
                <string>{24,64}</string>
                <key>textureRect</key>
                <string>{{2165,1857},{24,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piano_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,40}</string>
                <key>textureRect</key>
                <string>{{2263,1083},{141,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piano_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,40}</string>
                <key>textureRect</key>
                <string>{{581,1945},{141,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_section_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,70}</string>
                <key>spriteSourceSize</key>
                <string>{12,70}</string>
                <key>textureRect</key>
                <string>{{2241,1663},{12,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_staff_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>section_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,70}</string>
                <key>spriteSourceSize</key>
                <string>{3,70}</string>
                <key>textureRect</key>
                <string>{{1,2031},{3,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>staff_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1506}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1506}</string>
                <key>textureRect</key>
                <string>{{1083,1},{1080,1506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>staff_loading_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,20}</string>
                <key>spriteSourceSize</key>
                <string>{1080,20}</string>
                <key>textureRect</key>
                <string>{{1,1923},{1080,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>staff_piano_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,137}</string>
                <key>spriteSourceSize</key>
                <string>{1080,137}</string>
                <key>textureRect</key>
                <string>{{1083,1905},{1080,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_form_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,394}</string>
                <key>spriteSourceSize</key>
                <string>{1080,394}</string>
                <key>textureRect</key>
                <string>{{1083,1509},{1080,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>staff.pvr.ccz</string>
            <key>size</key>
            <string>{2407,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab874d3e35af324924c6158669818375:de3e6fa1ac62b7d48c9fb0f04f2960cc:5577f670574574330c81466b3c1e295b$</string>
            <key>textureFileName</key>
            <string>staff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
